<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MachObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>class-dump.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>deprotect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>formatType.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>011E483D1604DF3700722F8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>012FF1890CDB886C00F31E61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>013182B00CDF6EE400EC5A2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>013D1EFA13A5A0F100BF0A67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>013D1F1013A5AE5A00BF0A67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>013E8CE814EA0285002BDB6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>013E8CEE14EA04E0002BDB6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01549F710903BF88002FA8F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0165B8B01827137D00CC647F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01A9A4BC0FF19B2F00475772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01A9A4C40FF19BAE00475772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01B02CFE13A5B0DC0047BC53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01B02D2E13A5B5D50047BC53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01EB825E13A590D9003EDE60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01F5238E1001D19A0006B272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01F524FF1001F3E60006B272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DD76F960486AA7600D96B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAF6959411E62A4F009AF361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
