<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MachObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>class-dump.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>deprotect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>formatType.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>013D1EFA13A5A0F100BF0A67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>013D1F1013A5AE5A00BF0A67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0165B8B01827137D00CC647F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01B02CFE13A5B0DC0047BC53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01B02D2E13A5B5D50047BC53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01EB825E13A590D9003EDE60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
